<div class="col-sm-6">

  <h3>Reviews</h3>

  <% @reviews = Review.where(product_id: @product.id) %>
  <% if @reviews.any? %>
    <% @reviews.reverse_each do |review| %>
    <% @user = User.find(review.user) %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= @user.first_name %> said: 
        </div>
        <div class="panel-body">
          <%= review.description %>
        </div>
        <div class="panel-footer">
          <div class="pull-left">
            Rating: <%= review.rating %> out of 5
          </div>
          <div class="pull-right">
            <% if current_user == review.user %>
              <%= link_to fa_icon('trash'), review, class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
          </div>
          <div class="clearfix"></div>
        </div>

        
      </div>
    <% end %>
  <% else %>
    <div>
        No reviews yet!
    </div>
  <% end %>
</div>
  